body {
    text-align: center;
    background-color: aqua;
}

#welcome {
    text-align: center;
}

#img_1 {
    text-align: center;
    margin-left: 580px;
}

bio1 {
    text-align: center;
    background-color: aquamarine;
}

bio2 {
    text-align: center;
    background-color: antiquewhite;
}

bio3 {
    text-align: center;
    background-color: aliceblue;
}

bio3 {
    text-align: center;
    background-color: azure;
}
